/* ORDERS LIST */
.order-list{
  flex: 1;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  max-height: 50px;
}

.order-list li{
  padding: 10px;
  list-style-type: none;
}
